body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0e6d2;
    margin: 0;
    padding: 0;
}

canvas {
    border: 2px solid #000;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    cursor: pointer;
    color: #333;
    text-shadow: 1px 1px #ccc;
    margin-top: 20px;
    font-size: 2em;
    margin-bottom: 40px;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-top: 20px;
}

.arrow-buttons {
    display: flex;
    align-items: center;
}

.arrow-buttons button {
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.arrow-buttons button:hover {
    background-color: #0056b3;
}

.arrow-buttons span {
    font-size: 18px;
    margin: 0 10px;
    color: #333;
}

.summary {
    font-size: 16px;
    color: #555;
    margin-top: 20px;
    max-width: 600px;
    text-align: center;
}
